body {
	background-color:black ;
}

body {
	font-family: "Courier New", Courier, monospace;
	color: greenyellow;
}

#gameName {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#wrapper {
	width: 960px;
	margin: 0px auto 0px auto;
}

#content-1 {
	text-align: center;
	font-size: 16px;
	border: solid 1px;
	height: 100px;
	margin: 10px auto;
	width: 60%;
}
#theme {
	padding: 17.5px 0px;
}

#content-2 {
	text-align: center;
	font-size: 16px;
	border: solid 1px;
	height: 100px;
	margin: 10px auto;
	width: 60%;
}

#livesRemaining {
	padding: 17.5px 0px;
}

#scores {
	text-align: center;
	font-size: 16px;
	border: solid 1px;
	height: 100px;
	margin: 10px auto;
	width: 60%;
}

#wins {
	padding: 17.5px 0px;
}
